<!DOCTYPE html>
<html lang="en">
  <head th:replace="snippets.html :: name_head"></head>

  <body>
    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">
      <div class="row">
      <div class="col-12">
      <h3>Brand Report</h3>
      </div>
    </div>
      <div class="row">
      <div class="col-12" style="z-index: 0;">
        <table class="table table-striped shadow p-3 mb-5 bg-white rounded" id="brand-table">
          <thead class="table-light shadow-sm p-3 mb-5 bg-white rounded sticky-top">
            <tr>
              <th scope="col">Serial No.</th>
              <th scope="col">Brand Name</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nike</td>
              <td>Shoes</td>
              <td>Edit</td>
            </tr>
            <tr>
              <td>Nike</td>
              <td>Shirts</td>
              <td>Edit</td>
            </tr>
            <tr>
              <td>Adidas</td>
              <td>Hoodies</td>
              <td>Edit</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/brandReport.js}"></script>
  </body>
</html>
