<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>


<div class="container" style="margin-top:98px">

<div class="row mx-auto">
<div class="col-6 mx-auto">
	
	<div class="card mx-auto">
  	<div class="card-header">
    	Sign Up
  	</div>
  	<div class="card-body">
		<form class="" id="init-form" method="POST" th:action="@{/site/init}">
			<div class="form-group">
				<label for="email" class="col-sm-10 col-form-label">Email</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="email" id="email" placeholder="enter email">
			    </div>
			</div>
			<div class="form-group">
			    <label for="password" class="col-sm-10 col-form-label">Password</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="password" id="password" placeholder="password">
			    </div>
			</div>
			<input type="hidden" name="role" id="role" value="admin">
			<div class="form-group">
			<button type="submit" class="btn btn-primary" id="login">Sign Up</button>
			</div>
		</form>
	</div>	
	</div>
	
	

</div> <!-- Col -->
</div> <!-- Row -->

</div> <!-- Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
