<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>


	<div class="container">

		<h3>Inventory</h3>

		<!-- Top row with buttons-->
		<div class="row" id="top-buttons" style="display:none">
			<div class="col-12">

				<button type="button" id="add-button-inventory" class="btn btn-success btn-sm"
					data-target="#add-inventory-modal" data-toggle="modal"><i class="bi bi-plus-lg"></i> Add</button>

				&nbsp;
				<button type="button" class="btn btn-success btn-sm" id="upload-data"><i class="bi bi-upload"></i>
					Upload</button>

				&nbsp;
				<button type="button" class="btn btn-secondary btn-sm" id="refresh-data"><i
						class="bi bi-arrow-clockwise"></i>
					Refresh</button>

			</div>
		</div>

		<!-- Blank Row -->
		<div class="row">
			&nbsp;
		</div>

		<div class="row">
			<!-- Table -->
			<div class="col-12" style="z-index: 0;">
				<table class="table table-striped shadow p-3 mb-5 bg-white rounded" id="inventory-table">
					<thead class="table-light shadow-sm p-3 mb-5 bg-white rounded sticky-top">
						<tr>
							<th scope="col">Serial No.</th>
							<th scope="col">Brand</th>
							<th scope="col">Category</th>
							<th scope="col">Product</th>
							<th scope="col">Barcode</th>
							<th scope="col">Quantity</th>
							<th scope="col" id="edit-column" style="display:none">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2222</td>
							<td>58</td>
							<td>Edit</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<!-- invenotory Add Modal -->
		<div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="add-inventory-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Inventory</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="" id="inventory-form">

							<div class="form-group required col-md-12">
								<label for="inputProductBarcode" class="control-label">
									<h6>Barcode</h6>
								</label>
								<input type="text" required class="form-control w-100" minlength="2" maxlength="15"
									name="inventoryProductBarcode" id="inputProductBarcode" placeholder="Enter Barcode">
							</div>

							<div class="form-group required col-md-12 mb-4">
								<label for="inputProductQuantity" class="control-label">
									<h6>Quantity</h6>
								</label>
								<input type="number" required class="form-control w-100" min="0" step="1"
									name="productQuantity" oninput="validity.valid||(value='');"
									id="inputProductQuantity" placeholder="Enter Quantity">
							</div>
							<div class="modal-footer pb-1">
								<button type="submit" class="btn btn-success btn-sm" id="add-inventory">Add</button>
								&nbsp;
							</div>
						</form>
					</div>


				</div>
			</div>
		</div>

		<!-- Inventory edit Modal -->
		<div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="edit-inventory-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="" id="inventory-edit-form">

							<div class="form-group required col-md-12">
								<label for="inputProductBarcode" class="control-label">
									<h6>Barcode</h6>
								</label>

								<input type="text" readonly class="form-control-plaintext w-100"
									name="inventoryProductBarcode" id="inputProductBarcode" placeholder="Enter Barcode">

							</div>

							<div class="form-group required col-md-12 mb-4">
								<label for="inputProductQuantity" class="control-label">
									<h6>Quantity</h6>
								</label>

								<input type="number" required class="form-control w-100" name="productQuantity"
									oninput="validity.valid||(value='');" id="inputProductQuantity"
									placeholder="Enter Quantity">

							</div>
							<input type="hidden" name="productId">

							<div class="modal-footer pb-1">
								<button type="submit" class="btn btn-success btn-sm"
									id="update-inventory">Update</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>


		<!-- Inventory upload Modal -->
		<div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="upload-inventory-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Upload Inventory</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="row-md-12">
							<div class="inventory-file col-md-12">
								<input type="file" class="custom-file-input" id="inventoryFile">
								<label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose
									Inventory File
								</label>
							</div>
						</div>
						<br>
						<div class="row-md-12">
							<a th:href="@{/sample/inventory.tsv}" target="_blank">Download Sample</a>
						</div>

						<div class="row-md-12" id="error-row" style="display:none">
							Rows: <span id="rowCount">0</span>, Processed:
							<span id="processCount">0</span>, Errors:
							<span id="errorCount">0</span>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success btn-sm" id="process-data">Upload</button>
						<button type="button" class="btn btn-warning btn-sm" id="download-errors"
							style="display: none;">Download Errors</button>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>

	<script th:src="@{/static/inventory.js}"></script>

</body>

</html>