<!doctype html>
<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
	<nav th:replace="snippets.html :: name_app_navbar"></nav>

	<div class="container">

		<h3>Order</h3>

		<button class="btn btn-success btn-sm" id="add-button" type="button"><i class="bi bi-plus-lg"></i> Add
		</button>
		&nbsp;
		<button class="btn btn-secondary btn-sm" id="refresh-data" type="button"><i class="bi bi-arrow-clockwise"></i>
			Refresh</button>
		&nbsp;

		<!-- Blank Row -->
		<div class="row">
			&nbsp;
		</div>
		<div class="row">

			<!-- Table -->
			<div class="col-12"  style="z-index: 0;">
				<table class="table table-striped shadow p-3 mb-5 bg-white rounded" id="order-table">
					<thead class="table-light shadow-sm p-3 mb-5 bg-white rounded sticky-top">
						<tr>
							<th scope="col">Order Id</th>
							<th scope="col">Order Time</th>
							<th scope="col">Bill Amount</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- order Add Modal -->
	<div class="modal fade" id="add-order-modal" data-backdrop="static" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Order Items</h5>
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="" id="order-add-form">


						<div class="form-group required col-md-12">
							<label class="control-label"  for="inputbarcode"><h6>Barcode</h6></label>

							<input class="form-control w-100" name="productBarcode" id="form-barcode" placeholder="Enter Barcode" required
								type="text">

						</div>
						<div class="form-group required col-md-12">
							<label class="control-label" for="inputquantity"><h6>Quantity</h6></label>

							<input class="form-control w-100" name="productQuantity" placeholder="Enter Quantity"
								required type="number">

						</div>
						<div class="form-group required col-md-12">
							<label class="control-label" for="inputsellingPrice"><h6>Selling Price</h6></label>

							<input class="form-control w-100" name="productSellingPrice"
								placeholder="Enter Selling Price" required type="number" step="0.01">
						</div>


						<div class="modal-footer">
							<button class="btn btn-success btn-sm" id="add-order" type="submit">Add To Cart</i></button>

							<button class="btn btn-success btn-sm" id="submit-order" type="button">Place Order</button>

							<button class="btn btn-success btn-sm d-none"  id="edit-cart-button" type="submit">Update</i></button>

							<button class="btn btn-warning btn-sm d-none" id="cancel-orderItem" type="button">Cancel</button>
						</div>
					</form>
				</div>

				<!-- Blank Row -->
				<div class="row">&nbsp;</div>

				<div class="row">
					<!-- Table -->
					<div class="col-12">
						<table class="table table-striped" id="orderitemadd-table">
							<thead>
								<tr>
									<th scope="col">S No.</th>
									<th scope="col">Barcode</th>
									<th scope="col">Quantity</th>
									<th scope="col">Selling Price</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Order Edit Modal -->
	<div class="modal fade" id="edit-orderitem-modal" data-backdrop="static" role="dialog" tabindex="-1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Order Item</h5>
					<button class="btn" id="edit-close-button" type="button"><i class="bi bi-x-lg"></i></button>
				</div>
				<div class="modal-body">
					<form id="order-edit-form">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="inputbarcode"><h6>Barcode</h6></label>
							<div class="col-sm-8 mt-2">
								<span id="productBarcode"></span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="inputquantity"><h6>Quantity</h6></label>
							<div class="col-sm-8">
								<input class="form-control" name="productQuantity" placeholder="Enter Quantity" required
									type="number">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="inputsellingPrice"><h6>Selling Price</h6></label>
							<div class="col-sm-8">
								<input class="form-control" name="productSellingPrice" placeholder="Enter Selling Price"
									required type="number">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="inputmrp"><h6>MRP</h6></label>
							<div class="col-sm-8 mt-2">
								<span id="mrp"></span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="inputavailableQuantity"><h6>Available Quantity</h6></label>
							<div class="col-sm-8 mt-2">
								<span id="availableQuantity"></span>
							</div>
						</div>
						<input type="hidden" name="productBarcode"> <input name="id" type="hidden"> <input
							name="orderId" type="hidden">
						<div class="modal-footer">
							<button class="btn btn-success btn-sm" id="update-orderitem" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Order Display Modal -->
	<div class="modal fade" data-backdrop="static" id="order-display-modal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">

					<h5 class="modal-title">Order Item</h5>



					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col">
							<label for="view-order-id" class="col"><b>Order ID:</b> <span
									id="view-order-id">0</span></label>
						</div>

					</div>
					<div class="col-12">
						<table class="table table-striped" id="orderitem-table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Barcode</th>
									<th scope="col">Quantity</th>
									<th scope="col">Selling Price</th>
									<th scope="col" id="action-button" style="display:none">Actions</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/order.js}"></script>
</body>

</html>