<!DOCTYPE html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
  <nav th:replace="snippets.html :: name_app_navbar"></nav>

  <div class="container">
    <h3>Product</h3>

    <!-- Top row with buttons-->
    <div class="row" id="top-buttons" style="display:none">

      <div class="col-12">
        <button type="button" id="add-button" class="btn btn-success btn-sm" data-target="#add-product-modal"
          data-toggle="modal"><i class="bi bi-plus-lg"></i> Add
        </button>

        &nbsp;
        <button type="button" class="btn btn-success btn-sm" id="upload-data"><i class="bi bi-upload"></i> Upload
        </button>

        &nbsp;
        <button type="button" class="btn btn-secondary btn-sm" id="refresh-data"><i class="bi bi-arrow-clockwise"></i>
          Refresh
        </button>

      </div>
    </div>

    <!-- Blank Row -->
    <div class="row">&nbsp;</div>
    <div class="row">
      <!-- Table -->
      <div class="col-12"  style="z-index: 0;">
        <table class="table table-striped shadow p-3 mb-5 bg-white rounded" id="product-table">
          <thead class="table-light shadow-sm p-3 mb-5 bg-white rounded sticky-top">
            <tr>
              <th scope="col">Serial No</th>
              <th scope="col">Product Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Barcode</th>
              <th scope="col">MRP</th>
              <th scope="col" id="edit-column" style="display:none">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jordan</td>
              <td>Nike</td>
              <td>Shoes</td>
              <td>abcd</td>
              <td>1140</td>
              <td>Edit</td>
            </tr>
            <tr>
              <td>Non marking</td>
              <td>Yonex</td>
              <td>Shoes</td>
              <td>xyx</td>
              <td>3389</td>
              <td>Edit</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Product Add Modal -->
    <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="add-product-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <form class="" id="product-form">

              <div class="form-group required col-md-12">
                <label for="inputProductName" class="control-label"><h6>Product Name</h6></label>

                <input required type="text" class="form-control" name="productName" id="inputProductName"
                  placeholder="Enter Product Name" />

              </div>
              <div class="form-row col-md-12">
                <div class="form-group required col-md-6">
                  <label for="inputProductBrandName"><h6>Brand</h6></label>
                  &nbsp; &nbsp;
                  <select required class="form-control" name="productBrandName" id="inputProductBrandName">
                    <option value=""></option>

                  </select>
                </div>

                <div class="form-group required col-md-6">
                  <label for="inputProductBrandCategoryName"><h6>Category</h6></label>
                  &nbsp; &nbsp;
                  <select required class="form-control" name="productBrandCategoryName"
                    id="inputProductBrandCategoryName">
                  </select>
                </div>
              </div>
              <div class="form-group required col-md-12">
                <label for="inputProductBarcode" class="control-label"><h6>Barcode</h6></label>

                <input required type="text" class="form-control" name="productBarcode" id="inputProductBarcode"
                  placeholder="Enter Barcode" />

              </div>

              <div class="form-group required col-md-12">
                <label for="inputProductMrp" class="control-label"><h6>MRP</h6></label>

                <input required type="number" class="form-control" name="productMrp" id="inputProductMrp"
                  placeholder="Enter MRP" />

              </div>
              &nbsp;
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-success btn-sm" id="add-product">Add</button>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Edit Modal -->
    <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="edit-product-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form class="" id="product-edit-form">

              <div class="form-group required col-md-12">
                <label for="productName" class="control-label"><h6>Product Name</h6></label>
                <input required type="text" readonly class="form-control-plaintext" name="productName"
                  placeholder="Enter Product Name" />
              </div>

              <div class="form-row col-md-12">

                <div class="form-group required col-md-6">
                  <label for="productBrandName"><h6>Brand</h6></label>
                  &nbsp; &nbsp;
                  <select required class="form-control" name="productBrandName" id="editProductBrandName">
                    <option value="string">Volvo</option>
                  </select>
                </div>

                <div class="form-group required col-md-6">
                  <label for="productBrandCategoryName"><h6>Category</h6></label>
                  &nbsp; &nbsp;
                  <select required class="form-control" name="productBrandCategoryName"
                    id="editProductBrandCategoryName">
                    <option value="string">Volvo</option>
                  </select>
                </div>

              </div>

              <div class="form-group required col-md-12">
                <label for="productBarcode" class="control-label"><h6>Barcode</h6></label>
                <input type="text" readonly class="form-control-plaintext" name="productBarcode">
              </div>

              <div class="form-group required col-md-12">
                <label for="productMrp" class="control-label"><h6>MRP</h6></label>
                <input required type="number" class="form-control" name="productMrp" placeholder="Enter MRP" />
              </div>

              <input type="hidden" name="productId" />
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm" id="update-product">Update</button>
            &nbsp;
          </div>

        </div>
      </div>
    </div>

    <!-- Product upload Modal -->
    <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="upload-product-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="row-md-12">
              <div class="product-file col-md-12">
                <input type="file" class="custom-file-input" id="productFile" />
                <label class="custom-file-label" for="productFile" id="productFileName">Choose File</label>
              </div>
            </div>

            <br>

            <div class="row-md-12">
              <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a>
            </div>

            <div class="row-md-12" id="error-row" style="display:none">
              Rows: <span id="rowCount">0</span>, Processed:
              <span id="processCount">0</span>, Errors:
              <span id="errorCount">0</span>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm" id="process-data">
              Upload
            </button>
            <button type="button" class="btn btn-warning btn-sm" id="download-errors" style="display:none">
              Download Errors
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Container end-->

  <footer th:replace="snippets.html :: name_footer"></footer>
  <script th:src="@{/static/product.js}"></script>
</body>

</html>